@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Rock+Salt&display=swap');
$primary-color: #FFFFFF;
$secondary-color: #D07F0D; //rgb(169, 283, 142); // //#FF113C;
$extra-color: #36404C;
$font-family: 'Architects Daughter',
cursive;
$secondary-font-family: 'Rock Salt',
cursive;
